
   <header class="header">
      <h1 class="header__h1">Шапка</h1>
      <nav class="header__nav">
         <ul class="header__ul">
            <li class="header__li"><a href="#" class="header__link">1</a></li>
            <li class="header__li"><a href="#" class="header__link">2</a></li>
            <li class="header__li"><a href="#" class="header__link">3</a></li>
            <li class="header__li"><a href="#" class="header__link">4</a></li>
            <li class="header__li"><a href="#" class="header__link">5</a></li>
         </ul>
      </nav>
   </header>