{% macro footer() %}
   <footer class="footer">
      <div class="container">
         <p class="footer__text">Copyright © 2020. Your company name All rights reserved</p>
      </div>
   </footer>
{% endmacro %}